* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-transform: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


.pages{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content__header{
    width: 100%;
    background-color: #000;
    flex: 1 0 auto;
}
.flex__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.auth{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.2s linear;
}
.auth:hover{
    color:#ec6338;
}
.carts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carts .images{
    position: relative;
}
.carts .images p{
    position: absolute;
    padding: 4px 5px 4px 5px;
    background-color: red;
    border-radius: 10px;
    left: 50px;
    top: -10px;
    color: #fff;
    font-weight: 700;
}
.carts .images img{
    width: 45px;
    height: 45px;
    margin: 0 15px 0 10px;
}

/* Контент */

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 0 auto;
}
.container{
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.flexcontent__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.order__flex{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 10px;
}

.order__flex p{
    font-size: 24px;
    color: #434343;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}


.order__flex .images__order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    overflow: hidden;
    margin: 0 0 -10px 0;
}
.order__flex .images__order img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}
.order__flex .images__order p{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ec6338;
}
.order__flex:hover img{
    transform: scale(1.05);
}
.order__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order__form p{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.btn-order{
    background-color: #ec6338;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s linear;
    margin: 0 10px 0 0;
}

.btn-order:hover{
    background-color: #cf291b;
}
.cart-content__active{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}


.cart-content{
    display: block;
    cursor: default;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(135,135,135,0.25);
    z-index: 100;
}

.cart-content__list{
    max-height: 230px;
    overflow: auto;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 20px;

}
.cart-product__img{
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-product__title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}
.cart-product__price{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
}
.cart-product__delete{
    padding: 5px 8px;
    background-color: #ec6338;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.cart-content__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
}

.fullprice{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
    
}
.cart-content__btn{
    padding: 10px 18px;
    background-color: #ec6338;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
}

footer .content__footer .footer__flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#000;
    width: 100%;
    color: #fff;
    font-weight: 500;

}
footer .content__footer .footer__flexrow p{
    margin: 20px;
}


.order__res{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
}

.form__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
}

.form__profil{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.form__profil input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000;
    margin: 10px 0;
    padding: 3px 0 3px 3px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}
.form__profil select{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000;
    margin: 10px 0;
    padding: 3px 0 3px 0px;
    font-size: 18px;
}
.form__profil input:focus{
    border-bottom: 2px solid #ec6338;
}
